.comfy{data: {controller: :comfy, 'comfy-client-id': ENV['TWITCH_CLIENT_ID'], 'comfy-channel': current_user.username, 'comfy-token': twitch_token}}
  .actions
    %button.nes-btn.is-error{data: {action: 'comfy#signOut', target: 'comfy.signOut'}}
      Sign Out
  %h1{data: {target: 'comfy.welcome'}}
    Please Sign In
  .actions
    %button.nes-btn.is-primary{data: {action: 'comfy#signIn', target: 'comfy.signIn'}}
      Sign In
