<%= turbo_stream_from @channel %>
<h1>Dashboard - <%= @channel %></h1>
<div class="dashboard">
  <section id="messages">
    <%= render @messages %>
  </section>
</div>
<!-- TODO:  Add a real channel here! -->
<div class="hidden" data-controller="dashboard" data-dashboard-channel="exegete46"></div>
