- content_for :title do
  Dashboard

.dashboard{data: {controller: :dashboard, dashboard: {'client-id': ENV['TWITCH_CLIENT_ID'], channel: current_user.username.downcase, token: twitch_token, userid: twitch_userid}}}

.nes-container.is-rounded
  %h2 !ask
  %p
    Questions from your viewers who used the !ask command.
  %ul#ask_list{data: {controller: :ask}}
    = render AskComponent.with_collection(@asks)

.nes-container.is-rounded
  %h2 !todo
  %p
    Streamer can set their own todo list using the !todo command.
  %ul#todo_list{data: {controller: :todo}}
    = render TodoComponent.with_collection(@todos)

.nes-container.is-rounded.is-centered
  %h2 Overlays
  %p.nes-text.is-error
    You must leave the Dashboard (this page) open while broadcasting.
  %p
    Use this URL as a browser source in your streaming software.
  %div.nes-field.is-inline{data: {controller: :copyable}}
    %input.nes-input.is-centered{data: {target: 'copyable.value'}, readonly: true, value: overlay_index_url(channel: current_user&.username)}
    &nbsp;
    %button.nes-btn.is-success{data: {action: 'copyable#copy'}} Copy
  %p
    Or 
    %a{href: overlay_index_url(channel: current_user&.username), target: :_blank}<
      open overlays
    in another tab.
  %h3 Subpoints
  %div.nes-field.is-inline{data: {controller: :copyable}}
    %input.nes-input.is-centered{data: {target: 'copyable.value'}, readonly: true, value: overlay_subpoints_url(channel: current_user&.username, size: 3)}
    &nbsp;
    %button.nes-btn.is-success{data: {action: 'copyable#copy'}} Copy