<%= turbo_stream_from @channel %>
<h1>Dashboard - <%= current_user.username %></h1>
<div class="dashboard">
  <section id="messages">
    <%= render @messages %>
  </section>
</div>
<div class="hidden" data-controller="dashboard" data-dashboard-channel="<%= @channel %>"></div>
