- content_for :title do
  Dashboard
%nav
  %section.right
    %a{href: overlay_index_url, target: :_blank} 🔗 Overlay
%h1
  = ENV['TWITCH_CHANNEL']
  Dashboard
.container
  %h2 !ask
  %ul#ask_list{data: {controller: :ask, target: 'ask.questions'}}
    -# = render partial: 'messages/ask', locals: {user: 'Ruby On Rails', user_color: '#f00', question: 'Is this the first !ask?'}
.comfy{data: {controller: :comfy, 'comfy-channel': ENV['TWITCH_CHANNEL']}}