- content_for :title do
  Dashboard
%nav
  %section.right
    %a{href: overlay_index_url(channel: current_user&.username), target: :_blank} 🔗 Overlay
    %a{href: destroy_user_session_path, target: :_blank} Sign Out
.container
  = render 'twitch_auth'
.container
  %h2 !ask
  %ul#ask_list{data: {controller: :ask, target: 'ask.questions'}}
    = render partial: 'twitch_commands/ask', locals: {user: 'Ruby On Rails', user_color: '#f00', message: 'What are we working on today?'}
.container
  %h2 !todo
  %ul#todo_list{data: {controller: :todo, target: 'todo.container'}}
    = render @todos
