%li.nes-container.is-rounded{data: {controller: "ask-message"}}
  = render partial: 'messages/question', locals: {user_color: user_color, user: user, question: question}
  %div
    %button.nes-btn.is-primary{data: {action: 'click->ask-message#promote'}}
      Promote
    %button.nes-btn.is-success{data: {action: 'click->ask-message#complete'}}
      Complete
    %button.nes-btn.is-warning{data: {target: 'ask-message.delete', action: 'click->ask-message#delete'}}
      Delete
