%section.message{id: "message-#{id}", data: {controller: 'chat-message', target: 'chat-message.deletable'}}
  .balloon
    .nes-balloon.from-right
      %p
        = message
  .avatar
    %span.user{style: "color: #{user_color}"}= user
    %img{src: avatar}