%li.nes-container.is-rounded{id: "ask-#{ask.id}", data: {controller: "ask-message", "ask-message-channel": ask.channel}}
  = render AskMessageComponent.new(ask: ask)
  %div
    %button.nes-btn.is-primary{data: {controller: :ask, reflex: 'click->AskReflex#promote', id: ask.id}}
      Promote
    %button.nes-btn.is-primary{data: {action: 'click->ask-message#promote'}}
      Promote
    %button.nes-btn.is-success{data: {action: 'click->ask-message#complete'}}
      Complete
    %button.nes-btn.is-warning{data: {target: 'ask-message.delete', action: 'click->ask-message#delete'}}
      Delete

