%li.nes-container.is-rounded{id: "todo-#{todo.id}", class: todo.status, data: {controller: "todo"}}
  = render TodoMessageComponent.new(todo: todo)
  %div
    - if todo.active?
      %button.nes-btn.is-primary{data: {reflex: 'click->TodoReflex#recall', id: todo.id}}
        Recall
      %button.nes-btn.is-success{data: {reflex: 'click->TodoReflex#complete', id: todo.id}}
        Complete
    - else
      %button.nes-btn.is-primary{data: {reflex: 'click->TodoReflex#promote', id: todo.id}}
        Promote
      %button.nes-btn.is-warning{data: {reflex: 'click->TodoReflex#delete', id: todo.id}}
        Delete
