<h1>Welcome!</h1>
<p>
  <span class='brand'>Number Two</span>
  is a companion app I made for my
  <a alt='Exegete46 twitch channel' href='https://twitch.tv/exegete46'>Twitch channel.</a>
  I liked it enough that I thought, "Why not make it available for others?"
</p>
<p>
  At the moment, the following things work:
  <ul class='nes-list is-disc'>
    <!-- TODO:  <li>Chat overlay with Twitch emotes and user avatars.</li> -->
    <li>!ask command for asking questions.</li>
    <li>!todo for adding todos and showing a current todo overlay.</li>
  </ul>
</p>
<p>
  I hope to implement the following things:
  <ul class='nes-list is-disc'>
    <li>Multiple themes.</li>
  </ul>
</p>
<h2>Why does it look so pixelated?</h2>
<p>
  You're seeing a CSS framework called
  <a alt='NES CSS Framework' href='https://nostalgic-css.github.io/NES.css/' target='_blank'>NES.css.</a>
  Also, the font is called
  <a alt='Press Start Font on NPM' href='https://www.npmjs.com/package/press-start-font' target='_blank'>Press Start 2P</a>.
</p>
<h2>What about my info!?</h2>
<p>
  This app collects your email address, username, and profile picture URL
  in its database.  Otherwise, it does not intentionally store any info.
</p>
<p>
  There is a session cookie for storing whether or not you've signed in,
  and another cookie to store your oauth token from Twitch.  This is
  not stored on the server side.
</p>
<p>
  If you would like more information about how this app works, it is
  <a alt='Github project link' href='https://github.com/exegete46/number-two' target='_blank'>open source</a>
  so you can poke at it, or even run it on some other server.
</p>
<h2>Can you make it do ...</h2>
<p>
  That is a dafinative:  Maybe.  This is a hobby project, but if you have
  suggestions, feel free to
  <a alt='Github issues' href='https://github.com/exegete46/number-two/issues' target='_blank'>
    file an issue
  </a>
  on Github.
</p>
