version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      target: devcontainer
    volumes:
      - ./:/workspace:cached
      # Mounts the project folder to '/workspace'. While this file is in .devcontainer,
      # mounts are relative to the first file in the list, which is a level up.

    # [Optional] Required for ptrace-based debuggers like C++, Go, and Rust
    # cap_add:
    #   - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined

    # Overrides default command so things don't shut down after the process ends.
    # command: /bin/sh -c "while sleep 1000; do :; done"
