// Place all the styles related to the overlay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin overlay {
  position: absolute;
}

#todo_overlay {
  @include overlay;
  left: 1em;
  top: 1em;
  max-width: 576px;
  background-color:white;
  &:empty {
    display: none;
  }
}

#ask_overlay {
  @include overlay;
  left: 1em;
  bottom: 1em;
  max-width: 576px;
  background-color: white;
  &:empty {
    display: none;
  }
}

#chat_overlay {
  @include overlay;
  top: 1em;
  right: 1em;
  max-width: 576px;
  .message-list {
    display: flex;
    flex-direction: column;
    .message {
      display: grid;
      grid-template-rows: auto 48px;
      margin-bottom: -1rem;
      &:last-child {
        margin-bottom: 0.5rem;
      }
      .balloon {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        .nes-balloon {
          align-self: flex-end;
          padding: 0.25rem;
          min-width: 4rem;
          max-width: 576px;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.7);
          overflow-wrap: break-word;
          img {
            max-width: 48px;
          }
          &.from-right {
            &:before {
              background-color: rgba(255, 255, 255, 0.75);
            }
          }
        }
      }
      .avatar {
        margin-top: -1.5rem;
        text-align: right;
        img {
          width: 48px;
          height: 48px;
          margin-left: .75rem;
          border-radius: 25%;
          image-rendering: pixelated;
          background-color: white;
        }
      }
    }
  }
}
