- content_for :title do
  Overlay
#todo_overlay.overlay.nes-container.is-rounded.with-title<
  = render TodoMessageComponent.new(todo: @todo) if @todo
#ask_overlay.overlay.nes-container.is-rounded.with-title<
  = render AskMessageComponent.new(ask: @ask) if @ask
#chat_overlay.overlay{data: {controller: :chat, 'chat-channel': @channel}}<
  %section.message-list{data: {target: 'chat.messages'}}
#overlay{data: {controller: 'overlay', 'overlay-channel': @channel}}