<!DOCTYPE html>
<html>
  <head>
    <title>NumberTwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%# look in views/users/_user for CSS %>
  </head>
  <body class="overlay">
    <%= yield %>
  </body>
</html>
